body {
    font-family: Ariel, sans-serif;
    background-color: #f0f0f0;
}

.container{
    background-color: rgb(26, 55, 201);
    color: #fdf4f4;
    width: 300px;
    padding: 20px;
    margin: 30px, auto;
    border: 2px, solid #eaf8ed;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}