body {
  font-family: Arial, sans-serif;
  margin: 10;
  padding: 0;
  background-color:#004643;
}

.container {
  display: grid;
  grid-template-rows: auto auto auto; 
  width: 90%;
  margin: 0 auto; 
  padding: 10px;
  border-radius: 10px;
  background-color:#F0EDE5;
  gap: 10px;
}

.header {
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #004643;
    color: #EDBC6A;
}

nav ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    color:#F0EDE5;
    list-style: circle;
    background-color: #004643;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
}

nav ul li a {
    color:#F0EDE5;
    text-decoration: none;
    transition: 0.3s;
    padding: 30px;
}
nav ul li a:hover {
    color: #edc279a4;
}

.para {
    background-color: #004643;
    color: #F0EDE5;
    border-radius: 10px;
    padding: 10px;
}

.title1 {
    color: #EDBC6A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

p {
    line-height: 28px;
}

.title2 {
    color: #EDBC6A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

main {
    display: flex;
    flex: 1;
    padding-left: 90px;
    padding-right: 90px;
}

.edo {
    background-color: #004643;
    margin: 0px;
    border: 1px solid;
    border-radius: 10px;
    color: #F0EDE5;
    padding: 10px;
    margin-right: auto;
}

.ski {
    background-color: #004643;
    margin: 0px;
    border: 1px solid;
    border-radius: 10px;
    color: #F0EDE5;
    padding: 10px;
}

.title3 {
    color: #EDBC6A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Experiences {
    background-color: #004643;
    color: #F0EDE5;
    border-radius: 10px;
    padding: 10px;
}

.title4 {
    color: #EDBC6A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.pro {
  line-height: 28px;
}

.footer {
    background-color: #004643;
    margin: 0px;
    border: 1px solid;
    border-radius: 10px;
    color: #EDBC6A;
    text-align: center;
}